<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Maryland State Ethics Board Meeting Minutes</a>
    </nav>
      <div class="jumbotron">
        <div class="container">
            <h1>Maryland State Ethics Board Meeting Minutes Search</h1>
            <p></p>
            <h3>Search for a word or phrase</h3>
            <form method="POST">
                <input type="text" id="search_term" name="search_term" required minlength="3">
                <button type="submit">Submit</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% if results and document_count > 0 %}
            <h3>{{ search_term }} was mentioned in {{ document_count }} documents</h3>
            <div class="row">
                <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for result in results %}
                        <li>{{ result.date.strftime("%B %d, %Y") }}: <a href="{{ result.url }}">{{ result.file }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            {% elif document_count == 0 %}
                <p>Your search term produced no results. Try again?</p>
            {% else %}
                <p>There are {{ document_count }} documents in the database. The most recent is from {{ recent.date.strftime("%B %d, %Y") }}.</p>
            {% endif %}
            <p>Source: <a href="https://ethics.maryland.gov/">Maryland State Board of Ethics</a></p>
        </div>
     </div>
    </body>
</html>